/* Project CSS*/
.projects-hero {
  position: relative;
  height: 100vh;       
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);  
  display: flex;
  justify-content: flex-start; 
  align-items: center;         
  padding-right: 250px;         
}

.hero-overlay.right-text {
  justify-content: flex-end;   
}

.hero-content {
  text-align: center;
  max-width: 450px;           
  color: #fff;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 25px;
  line-height: 1.4;
}

.explore-btn {
  background-color: #007bff;
  color: #fff;
  padding: 12px 30px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.explore-btn:hover {
  background-color: #0056b3;
  transform: translateY(-3px); 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .hero-overlay.right-text {
    justify-content: center;   
    padding-right: 0;          
  }

  .hero-content {
    text-align: center;        
    max-width: 90%;            
  }
}


/*ProjectList CSS*/
.projects-title {
  margin-top: 70px; 
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.filter-group {
  display: flex;
  justify-content: center;   
  align-items: center;
  margin-bottom: 20px;
  gap: 15px;                 
  flex-wrap: nowrap;          
}

.filter-btn {
  padding: 12px 24px;        
  font-size: 16px;            
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #e0e0e0;
  color: #000;
  font-weight: 600;
  transition: all 0.3s ease;
  min-width: 120px;           
  text-align: center;
}

.filter-btn:hover {
  background: #007bff;
  color: #fff;
}

.active-category {
  background: #007bff;
  color: #fff;
}

.status-dropdown {
  padding: 10px 20px;         
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 16px;
  background: #fff;
  transition: all 0.3s ease;
}

.status-dropdown:hover {
  border-color: #007bff;
}

.status-label {
  font-weight: 600;
  margin-right: 8px;
}

@media (max-width: 768px) {
  .filter-group {
    flex-wrap: wrap;          
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 45%); 
  justify-content: center;              
  gap: 20px;
  margin: 30px auto;
  max-width: 100%;
}

.project-card {
  background: #ffffff;
  border-radius: 12px;
  width: 90%;
  height: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}
.project-card img {
  width: 100%;      
  height: 350px;    
  object-fit: cover;
  display: block;
}


@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}